.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: var(--secondary-color);
}

.header h1 {
    font-size: 4rem;
    padding: 0.5rem;
    position: relative;

    &::before, &::after {
        z-index: 2;
        content: "";
        border: 2px solid #fff;
        border-radius: 5px;
        position: absolute;
        width: calc(100% + 5px);
        height: calc(100% + 5px);
    }

    &::before {
        top: 0;
        left: 0;
    }

    &::after {
        bottom: 0;
        right: 0;
    }
}

.header .stats {
    display: flex;
    gap: 2rem;
  
    & span {
      border-radius: 50px;
      padding: 1rem;
      font-size: 3rem;
    }
}