main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-lg);
  
    max-width: 125rem;
    margin: var(--margin-lg) auto 0 auto;
    text-align: center;
}