main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-lg);
  
    max-width: 125rem;
    margin: var(--margin-lg) auto 0 auto;
    text-align: center;
}

.main h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
  
.main h2 + p {
    margin-bottom: 2rem;
    font-size: var(--font-md);
}
  
.main .message {
    font-size: var(--font-md);
    width: 100%;
    color: var(--secondary-color);
}

.main .loading {
    animation: loading 0.5s steps(4) infinite;
}

.main .stats {
    display: flex;
    gap: 2rem;
  
    & span {
      border-radius: 50px;
      padding: 1rem;
      font-size: 3rem;
    }
}

@keyframes loading {
    0% {
      clip-path: inset(0 1.8rem 0 0);
    }
    33% {
      clip-path: inset(0 1.4rem 0 0);
    }
    66% {
      clip-path: inset(0 1rem 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }