.modal {
    list-style: none;
    padding: 3rem;
    background-color: var(--tertiary-color);
    position: absolute;
    width: 37rem;
    border: var(--border);
    font-size: 2rem;
}

.modal button {
    margin-right: auto;
    margin-left: auto;
}