@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

:root {
  --primary-color: #33332d;
  --secondary-color: #dee2e6;
  --tertiary-color: #080707;
  --border: 2px solid var(--secondary-color);
  --margin-sm: calc(var(--margin-md) / 2);
  --margin-md: 2rem;
  --margin-lg: calc(var(--margin-md) * 2.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.6rem;
  background: var(--primary-color);
  min-height: 100vh;
}

button {
  margin-top: 2rem;
  display: block;
  font-size: var(--font-md);
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border: var(--border);
  width: 10rem;
  padding: 1rem 0;
  font-family: 'IBM Plex Mono', monospace;
}

button:hover {
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
}
